.flip-container{
    display: grid;
    grid-template-rows: repeat(4, 120px);
    grid-template-columns: repeat(4, 90px); 
    margin-left: 35%;
}

h1 {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}
